<br><br><br>
<p class="navlead">Search for professions. Find people. Discover lists.</p>

<div class="center-block text-center">
	<form class="center-search-bar">
          <input type="text" class="form-control" placeholder="Search i.e. Web Developer, Graphic Designer, etc">
    </form><br>
	<h1>Featured List</h1>
		<p>The index and show page for User appear to be redundant for our app's prerogative.</p>
		<%= image_tag "navbar-logo.png" %><br>
		<%= image_tag "navbar-logo4.png" %><br>
      	<%= image_tag "navbar-logo5.png" %><br>
      	<%= image_tag "navbar-logo6.png" %>




</div>	
