<br><br>

<div class="center-block text-center">
	<h1>user index page</h1>
		<p>The index and show page for User appear to be redundant for our app's prerogative.</p>
		<%= image_tag "navbar-logo.png" %>

</div>	